# ---------------- FLASK ----------------
Flask==3.1.2
Flask-Cors==6.0.2
Flask-SQLAlchemy==3.1.1

# ---------------- MUSIC / SPOTIFY ----------------
spotipy==2.25.2
requests==2.32.5

# ---------------- VOICE CONTROL ----------------
SpeechRecognition==3.14.5
sounddevice==0.5.5

# ---------------- IMAGE / MEDIA ----------------
opencv-python==4.13.0.92
opencv-contrib-python==4.13.0.92
mediapipe==0.10.32
pygame==2.6.1; sys_platform == "win32" or sys_platform == "darwin"

# ---------------- DEPENDENCIES ----------------
numpy==2.4.2
matplotlib==3.10.8
pillow==12.1.1
python-dateutil==2.9.0.post0
six==1.17.0
urllib3==2.6.3
cffi==2.0.0
greenlet==3.3.1
blinker==1.9.0
